<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.reservation.dao.VendorReservationDao">

<insert id="insert"> 
insert into vendor_reservation values(#{email}, #{business_regi_num}, #{open_date}, #{times}, #{status_flag})
</insert>

<select id="selectAllEnableVendorsReservation" resultType="VendorReservationDto">
select * from vendor_reservation 
	where email=#{email} 
		and business_regi_num=#{business_regi_num} 
		and status_flag not in '0' 
	order by open_date 
</select>


<select id="selectOneVendorsReservation" parameterType="VendorReservationDto" resultType="VendorReservationDto">
    SELECT * FROM vendor_reservation 
    WHERE email = #{email} 
      AND business_regi_num = #{business_regi_num} 
      AND open_date = #{open_date} 
      AND status_flag NOT IN ('0')
</select>


<!-- 
<select id="selectOneVendorsReservation" resultType="VendorReservationDto">
select * from vendor_reservation 
	where email=#{email} 
		and business_regi_num=#{business_regi_num} 
		and open_date=#{open_date} 
		and status_flag not in '0'
</select>
 -->

</mapper>